apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: gcp-secrets-config-pagos
  namespace: studio-barber
spec:
  provider: gcp
  parameters:
    # La KSA utiliza esta GSA para la autenticación
    serviceAccount: pagos-all-permissions@studiobarber-480215.iam.gserviceaccount.com
  secretObjects:
    - secretName: mercadopago-token-k8s  # Nombre del K8s Secret que se creará
      type: Opaque
      data:
        - key: ACCESS_TOKEN                        # clave que usaremos como Variable de Entorno en el Deployment
          objectName: mercadopago-access-token    # resourceName del secreto de la contraseña en secret manager

    - secretName: notificacion-url-toke-k8s
      type: Opaque
      data:
        - key: URL_NOTIFICACION
          objectName: pagos-notificacion-url
